
:root {
  //==global
  --fontFamily: 'Poppins';
  --fontSize: 16px;
  --lineHeight: 150%;
  //===============WIDTH====================
  --minWidth: 360px;
  --maxWidthContainer: 1140px;
  //===colors
  --standart: rgba(18, 18, 18, 1);
  --background: rgba(255, 255, 255, 1);
  --Neutral500:rgba(153, 153, 153, 1);
  --Purple500:rgba(82, 34, 140, 1);
  --Purple100:rgba(236, 211, 250, 1);
}
